* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, #00fd4c6c 0%, #eef1366b 100%);
  font-family: "Roboto Mono", monospace;
  line-height: 1.2;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
